.result-container p {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 40px;
    flex-basis: 25%; /* Set the width of each item to 25% */
    box-sizing: border-box;
}

